{% extends 'base.html.twig' %}

{% block title %}Hello DepartmentController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center my-5">Chiffres COVID-19 département
			{{ data.LiveDataByDepartement.0.nom }}</h1>
		<h2 class="text-muted text-center mb-3">Source :
			"{{ data.LiveDataByDepartement.0.source.nom }}" - le {{ data.LiveDataByDepartement.0.date }}</h2>
		<div class="row justify-content-center my-3">
			<div class="col-4">
				<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
					<div class="card-header text-center">Hospitalisés</div>
					<div class="card-body">
						<p class="card-text">Nombre de personnes hospitalisées.</p>
						<h5 class="card-title text-center">{{ data.LiveDataByDepartement.0.hospitalises }}</h5>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
					<div class="card-header text-center">Réanimations</div>
					<div class="card-body">
						<p class="card-text">Nombre de personnes en réanimation.</p>
						<h5 class="card-title text-center">{{ data.LiveDataByDepartement.0.reanimation }}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
    <p class="text-center lead">Ce tableau représente le nombre de nouvelles admissions en réanimations et hospitalisations</p>
		{{ render_chart(chart) }}
	</div>

</div>{% endblock %}
